<div class="navbar">
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
    <a href="/index">Hjemme side</a>
    <a href="/FAQ">FAQ</a>
    <a href="/kartSide">Kart</a>
    <a href="/DBforklaring">DB Forklaring</a>


</div>
