<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">Reinsdyr Oppgave</a>
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="/" class="navbar-link">Hjem</a>
            </li>
            <li class="navbar-item">
                <a href="/kartside" class="navbar-link">Språkkart</a>
            </li>
            <li class="navbar-item">
                <a href="/DBForklaring" class="navbar-link">Database</a>
            </li>
            <li class="navbar-item">
                <a href="/FAQ" class="navbar-link">FAQ</a>
            </li>
            <li class="navbar-item">
                <a href="/reinsdyr/RegistrerReinsdyr" class="navbar-link">Registrer Reinsdyr</a>
            </li>
            <li class="navbar-item">
                <a href="/auth/login" class="navbar-link">Logg inn</a>
            </li>
            <li class="navbar-item">
                <a href="/auth/register" class="navbar-link">Registrer</a>
            </li>
        </ul>
    </div>
</nav>