<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %> 
    <h1>Hello World</h1>

    <a href="https://github.com/users/Simen732/projects/3/views/1">Github Project</a>
    <p>Her er en forklaring av hvordan databasen fungerer og en lenke til github projects</p>
    <img src="/img/ER-diagram.png" alt="ER diagram over databasen">
</body>
</html>