<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %> 
    
    <div class="container">
        <h1>Ofte Stilte Spørsmål (FAQ)</h1>
        
        <details>
            <summary>Hvordan registrerer jeg flokken min?</summary>
            <p>
                For å registrere din flokk må du logge den inn eller registrere en ny bruker. Etter dette så går du på legg til flokk siden og skriver inn informasjonen som siden ber om. Når du trykker på legg til flokk så vil flokken bli lagt til brukeren din. Du kan gjøre dette flere ganger om du ønsker.
            </p>
        </details>
        
        <details>
            <summary>Hvordan legger jeg til et nytt reinsdyr i flokken min?</summary>
            <p>
                For å legge til et nytt reinsdyr, logg inn på din konto og gå til "Registrer Reinsdyr" siden. Der finner du et skjema. Fyll ut skjemaet med reinsdyrets informasjon som navn, fødselsdato og serienummer. Når du har fylt ut all nødvendig informasjon, klikk på "Registrer" for å legge reinsdyret til i flokken din.
            </p>
        </details>
        
        <details>
            <summary>Kan jeg endre informasjonen om et reinsdyr etter at det er registrert?</summary>
            <p>
                Nei, det er for øyeblikket ikke mulig å endre informasjonen om et reinsdyr etter at det er registrert. Det er mulig å legge til flere reinsdyr i flokken din, men det er ikke mulig å fjerne eller endre informasjonen om et enkelt reinsdyr.
            </p>
        </details>
        
        <details>
            <summary>Hvordan søker jeg etter et spesifikt reinsdyr?</summary>
            <p>
                For å søke etter et spesifikt reinsdyr, bruk søkefeltet i hjemme siden. Du kan søke etter reinsdyrets navn, serienummer, eier eller flokknavn. Skriv inn søkeordet ditt og trykk på "Søk" eller trykk Enter. Resultatene vil vise alle reinsdyr som matcher søkekriteriene dine.
            </p>
        </details>
        
        <details>
            <summary>Hva gjør jeg hvis jeg glemmer passordet mitt?</summary>
            <p>
                Nettsiden har for øyeblikket ikke noen måte å endre passordet ditt eller hente glemte passord. Pga dette så må du registrere eller logge inn på en ny konto og legge til alle reinsdyrene på nytt hvis du glemer passordet ditt.
            </p>
        </details>

        <details>
            <summary>Hvordan kan jeg sende reinsdyr fra en flokk til en annen??</summary>
            <p>
                For å sende reinsdyr fra en flokk til en annen, må du logge inn på din konto og gå til "Profil" siden. Der finner du en liste over alle dine flokker. Det vil også stå de forksjellige reinsdyrene i flokkene og for å sende et av dem må du velge den flokken du vil sende til i menyen ved siden av navnet på reinsdyret og trykke på "Overfør". 
            </p>
        </details>

        <details>
            <summary>Hvordan kan jeg sende et reinsdyr fra min bruker til en annen?</summary>
            <p>
                Hvis du går til "Profil" siden og skriver inn eposten til en annen bruker inn i et av feltene under "Overfør reinsdyr til annen bruker:" så vil du sende en forespørsel til den brukeren. Hvis både du og den brukeren aksepterer vil reinsdyret bli overført fra din bruker til den andre.
            </p>
        </details>

    </div>
    
    <%- include('partials/footer') %>
</body>
</html>