<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %> 
    
    <div class="container">
        <h1>Ofte Stilte Spørsmål (FAQ)</h1>
        
        <details>
            <summary>Hvordan registrerer jeg flokken min?</summary>
            <p>
                På denne nettsiden så registrerer du ikke flokken din selv. Når du lager en bruker, vil en tom flokk bli tildelt deg automatisk. Du kan senere legge flere reinsdyr til flokken manuelt ved å gå til "Registrer Reinsdyr" siden.
            </p>
        </details>
        
        <details>
            <summary>Hvordan legger jeg til et nytt reinsdyr i flokken min?</summary>
            <p>
                For å legge til et nytt reinsdyr, logg inn på din konto og gå til "Registrer Reinsdyr" siden. Der finner du et skjema. Fyll ut skjemaet med reinsdyrets informasjon som navn, fødselsdato og serienummer. Når du har fylt ut all nødvendig informasjon, klikk på "Registrer" for å legge reinsdyret til i flokken din.
            </p>
        </details>
        
        <details>
            <summary>Kan jeg endre informasjonen om et reinsdyr etter at det er registrert?</summary>
            <p>
                Nei, det er for øyeblikket ikke mulig å endre informasjonen om et reinsdyr etter at det er registrert. Det er mulig å legge til flere reinsdyr i flokken din, men det er ikke mulig å fjerne eller endre informasjonen om et enkelt reinsdyr.
            </p>
        </details>
        
        <details>
            <summary>Hvordan søker jeg etter et spesifikt reinsdyr?</summary>
            <p>
                For å søke etter et spesifikt reinsdyr, bruk søkefeltet i hjemme siden. Du kan søke etter reinsdyrets navn, serienummer, eier eller flokknavn. Skriv inn søkeordet ditt og trykk på "Søk" eller trykk Enter. Resultatene vil vise alle reinsdyr som matcher søkekriteriene dine.
            </p>
        </details>
        
        <details>
            <summary>Hva gjør jeg hvis jeg glemmer passordet mitt?</summary>
            <p>
                Nettsiden har for øyeblikket ikke noen måte å endre passordet ditt eller hente glemte passord. Pga dette så må du registrere eller logge inn på en ny konto og legge til alle reinsdyrene på nytt hvis du glemer passordet ditt.
            </p>
        </details>
        
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>