<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %> 
    
    <div class="container">
        <h1>Samiske Språkområder i Norge</h1>
        
        <div class="form-container">
            <p>Dette er et kart over de forskjellige samiske språkområdene i Norge</p>
            
            <div class="map-container">
                <img src="/img/Kart.jpeg" alt="Kart over språkområdene i Norge" class="responsive-image">
            </div>
        </div>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>