<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %> 
    <h1>Dette er et kart over de forskjellige samiske spr책komr책dene i Norge</h1>

    <img src="/img/Kart.jpeg" alt="Kart over spr책komr책dene i Norge">
</body>
</html>