<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %> 
    
    <div class="container">
        <h1>Registrer reinsdyr</h1>
        
        <div class="form-container">
            <form action="/reinsdyr/RegistrerReinsdyr" method="post">
                <div class="form-group">
                    <label for="serieNummer">Serie nummer</label>
                    <input type="number" id="serieNummer" name="serieNummer" placeholder="Reinsdyrets serie nummer" required>
                </div>
                <div class="form-group">
                    <label for="navn">Navn</label>
                    <input type="text" id="navn" name="navn" placeholder="Reinsdyrets navn" required>
                </div>
                <div class="form-group">
                    <label for="fødselsdato">Fødselsdato</label>
                    <input type="date" id="fødselsdato" name="fødselsdato" required>
                </div>
                <input type="submit" value="Registrer">
            </form>
        </div>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>